.top-container{
    /* background-color: #ff4c68;  */
    background-color:#F8F4EA ;
    position: relative; 
    top: 0;
}
.navbar-brand{
  color: #000;
}
.img{
    width: 100%;
    height:50%;
    object-fit: cover;
    position: relative;
    opacity: 0.7;
}
.img_au{
    width: 100%;
    height: 500px;
    object-fit: cover;
     position: relative; 
    opacity: 0.7;
}
.banner-text{
    position: absolute;
    top: 3%;
    left: 37%;
}
.img_au {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}
.img_2 {
  position: absolute;
  top: 30px;
  height: 150px;
  right: 30px;
}
p{
    font-family: 'Merriweather', serif;
    color: #008179;
}
h1{
    font-family: 'Sacramento', cursive;
    color:black;
}
h2{
    font-family: 'Merriweather', serif;
    color: #008179;
}
.title{
    font-size: 5.625rem;
    color: black;
    margin-top: 45px;
}
.description{
    font-size: 2.5rem;
    color: #000;
}
.complains{
    width: 50%;
    background-color:white ;
    margin: 500px auto 100px auto ;
    text-align: left;
    line-height: 2;
}
.civil{
    float: left;
    width: 25%;
    margin-right: 25px;
    border-radius: 100%;
    border: solid;
    background-color: white;
}
.electrical{
    float: right;
    width: 25%;
    margin-left: 10px;
    border-radius: 100%;
    border: solid;
    background-color: white;
}
.AC{
    float: left;
    width: 25%;
    margin-right: 25px;
    border-radius: 100%;
    border: solid;
    background-color: white;
}
.water-filter{
    float: right;
    width: 25%;
    margin-left: 10px;
    border-radius: 100%;
    border: solid;
    background-color: white;
}
.copyright_footer{
     /* position: absolute;  */
    color: white;
    bottom: 0;
    margin-bottom: 0px;
    width: 100%;
    background-color: #a8a8a8;
    line-height: 3;
    text-align: center;
    left: 0;
}
.copyright_footer_au{
    /* position: absolute;  */
   color: white;
   bottom: 0;
   margin-top: 120px;
   width: 100%;
   background-color: #a8a8a8;
   line-height: 3;
   text-align: center;
   left: 0;
}
.write_up{
    line-height: 32px;
    text-align: center;
}
/* .block:hover {
    background-color: #ddd;
    color: black;
  }
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  } */
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    margin: auto;
    width: 25%;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Green */
  .success {
    border-color: #04AA6D;
    color: green;
  }
  
  .success:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Blue */
  .info {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  .warning {
    border-color: #ff9800;
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .danger {
    border-color: #f44336;
    color: red
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #e7e7e7;
  }
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 80%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: black;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  /* .team
  {
    margin:  75px 0;;
  }
  h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
  }
  h1:after
  {
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
  }
.profile
{
    margin-top: 25px;
}
.profile .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}
.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
.profile h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.img-box:after
{
    content: '';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
} */
/* {
    font-family: Nunito, sans-serif;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .container {
    max-width: 1380px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  
  .team-head-text {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-left: 0px;
  }
  
  .name {
    font-size: 18px;
    margin-top: 11px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 700;
  }
  
  .position {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .team-card-container {
    width: 263px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
  }
  
  .teamcard-container {
    justify-content: space-evenly;
  }
  
  .team-img-wrapper {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .team-img {
    max-width: 100%;
  }
  
  @media (max-width: 500px) {
    .team-card-container {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
      width: 100%;
    }
  
    .team-img {
      width: 100%;
    } */
    @import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body{
  background: white;
}

.wrapper{
  margin-top: 70px;
  text-align: center;
}
.hau{
  font-family: 'Yatra One', cursive;
  font-size: 48px;
  margin-bottom: 10px;
}
.wrapper h1{
  font-family: 'Yatra One', cursive;
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}



  
